@model IEnumerable<SchoolsSystem.Models.Application>
@{
    ViewBag.Title = "PendingApplications";
    Layout = "~/Views/Shared/_LearnerLayout.cshtml";
}
@if (!Model.Any())
{
    <p>You have no pending applications</p>
}
else
{
    if (ViewBag.message == "Active")
    {
        <p>You can not apply because you still have an active application</p>
    }
    <div class="table-responsive">
        <table class="table table-border table-hover">
            <thead>
                <tr>
                    <th>Applied To</th>
                    <th>Date Submmited</th>
                    <th>Status</th>
                    <th>Documents</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var application in Model)
                {
                    <tr>
                        <td>@application.School.Name</td>
                        <td>@application.DateSubmitted.Date.ToString(string.Format("dd/MM/yyy"))</td>
                        <td>@application.ApplicationStatus.Status</td>
                        <td>@application.ApplicationDocuments.Count</td>
                        @if (application.ApplicationStatusId == 2)
                        {
                            <td><button class="btn btn-outline-primary">@Html.ActionLink("Submit Document", "SubmitRequireDocuments", "Application", new { id = application.Id }, null)</button></td>
                        }
                        else
                        {
                            <td><button class="btn btn-outline-primary" onclick="GetApplicationId(@application.Id)" data-toggle="modal" data-target="#WithdrawModel" >Withdraw Application</button></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@using (Html.BeginForm("WithdrawApplication", "Learner", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="hformId" name="formId" />
    <input type="submit" id="btnWithdraw" value="Withdraw" style="display:none" />
}

<div class="modal fade" id="WithdrawModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to Withdraw this Application??
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="WithdrawApplication()" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>

        $(document).ready(function () {
            if ('@ViewBag.message' == "Submitted")
                toastr.success('Application submitted successfuly');
        });
    function GetApplicationId(formId) {
        console.log(formId);
        $("#hformId").val(formId);
            }
    function WithdrawApplication() {
        console.log('Hey');
        $("#btnWithdraw").click();
    }

    </script>
}


