@model IEnumerable<SchoolsSystem.Models.Application>
@{
    ViewBag.Title = "PendingApplications";
    Layout = "~/Views/Shared/_LearnerLayout.cshtml";
}
@if (!Model.Any())
{
    <p>You have no withdrawed applications</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-border table-hover">
            <thead>
                <tr>
                    <th>Applied To</th>
                    <th>Date Submmited</th>
                    <th>Documents</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var application in Model)
                {
                <tr>
                    <td>@application.School.Name</td>
                    <td>@application.DateSubmitted.Date.ToString(string.Format("dd/MM/yyy"))</td>
                    <td>@application.ApplicationDocuments.Count</td>
                    <td>@application.ApplicationStatus.Status</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
@section scripts
{
    <script>

        $(document).ready(function () {
            if ('@ViewBag.message' == "Withdrawed")
                toastr.success('Application Withdrawed successfuly');
        });

    </script>
}


